.logo-swiper-slider{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 15px;

  .logoContent {
    margin: 30px 0;
    text-align: center;
    h2{
        font-size: clamp(1.5rem, 10vw, 2.3rem);
        font-weight: 400;
    }
  }

  .swiper-slide{    
    height: 100%;
    position: relative;    

    img{
      height: 100px;
      width: 100%;
      object-fit: contain;
      filter: grayscale(100%);

      &:hover{
        filter: grayscale(0);
      }
    }
    .img-loader{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.hide-loader{
        opacity: 0;
      }
      &.show-loader{
        opacity: 1;
      }    

      svg{
        height: 50px;
        width: 50px;
        margin: 0 auto;
      }
    }

  }
}