.news {  
  background-size: 90% 100%;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  background: #FFE600;
  position: relative;
  
  a{
    color:black;
  }
  
  @media (max-width:500px){
    height: 90vh;
  }

  .img1{
    position: absolute;
    top: 50px;
    left: 40px;
    @media (width < 800px){
      height: 60px;
      top: 30px;
      left: 180px;
      transform: rotate(-15deg);
    }
  }
  .img2{
    position: absolute;
    bottom: 50px;
    right: 40px;

    @media (width < 800px){
      height: 90px;
      bottom: 10px;
      right: 200px;
      transform: rotate(-15deg);
    }
  }

  .news-slider{
    position: absolute;
    top: 58%;    
    left: 50%;    
    transform: translate(-50%, -50%) rotate(-6deg);    
    max-width: 1200px;
    width: 100%;
    padding: 0 50px;
    z-index: 5;    
    @media (width < 700px){
      top: 50%;    
      left: 50%;  
      transform: translate(-50%, -50%) rotate(-1deg);    
      padding: 0 20px;
    }


    button{
      all: unset;
      height: 50px;      
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index:5;      
      &.right{
        right: 15px;
      }
      &.left{
        left: 15px;
      }
      svg{
        height: 50px;
        transform: var(--transition);
      }

      &:hover svg{
        color: gray;
      }
    }

    .swiper-slide{
      max-height: 500px;
      aspect-ratio: 1/1;
      overflow: hidden;
      background-image: url('/news/thumbnail.png');
      background-size: 100% 100%;      
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-between;
        padding: 15px;
        text-decoration: none;
        gap: 12px;
        overflow: hidden;
      }

      .news_title{        
        margin-top: 35px;
        text-align: center;
        // text-transform: uppercase;
        line-height: 1.2;
        font-size: clamp(1rem, 20vw, 1.4rem);
        @media (width < 800px){
          font-size: .9rem;
        }
      }

      img{        
        height: 70%;
        width: 90%;
        object-fit: contain;   
        // object-position: bottom;     
      }
    }
  }


  .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 30px !important;
  }
  
  @media (width < 900px){
    .swiper-button-prev:after, .swiper-button-next:after{
      font-size: 18px !important;
    }
  }

}
